{% extends 'base.html' %}
{% block content %}


<div class=" container">
    
    <div class="row">
        
        
    </div>
    <br><br><br><br><br>
    

<div class="row">
        
<!--Form without header-->
<div class="col-md-4"></div>
<div class="card col-md-4">
    <div class="card-block">

        <!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-weixin" aria-hidden="true" style="color: dodgerblue"></i>  FlaskChat</h3>
            <hr class="mt-2 mb-2">
        </div>

        <!--Body-->
        <form method="POST">
        <div class="md-form">
            {{ form.csrf_token }}
            <i class="fa fa-user prefix"></i>
            {{form.username}}
            <label for="form2">Name</label>
            <br>

    


            {{form.language(class_='form-control')}}
            
        </div>
        


        <div class="text-center">
            <button class="btn btn-primary">Start</button>{{chat_uid}}
        </div>
        </form>

    </div>

    <!--Footer-->
    <div class="modal-footer">
        <div class="options">
            <p class="text-center">Choose username and editor mode</p>
            
        </div>
    </div>

</div>
<!--/Form without header-->

<div class="col-md-4"></div>
    </div>
       
</div>

{% endblock %}