{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/src/ace.js')}}" type="text/javascript" charset="utf-8"></script>
<div class=" container-fluid">
    <br>
    <div class="row">
       
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span class="badge grey">user:</span> <span class="badge black">{{ user }}! {% if 'username' in session %} <a href="{{url_for('logout')}}">(Logout)</a></span>{% endif %} | <span class="badge grey">editor:</span> <span class="badge green"> {{editor}} </span> | <span class="badge grey">id:</span> <span class="badge blue">{{chat_uid}}</span>
        </div>
        
    </div>
    

<hr>
    <br>

    <div class="row">

        
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        

            <form method="POST" id='w-form'>
                {{ form.csrf_token }}
                {{form.workspace(class_='test')}}
                    <div id="editor">{{ content }}</div>
    
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/white");
        editor.session.setMode("ace/mode/{{editor}}");

        var input = $('textarea[name="workspace"]');
        editor.getSession().on("change", function () {
        input.val(editor.getSession().getValue());
    });
    </script>


<script>
    $(document).ready(function() {
        $('#w-form').submit(function (e) {
            var url = "{{ url_for('czat_add', chat_uid=chat_uid) }}"; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('#w-form').serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data)  // display the returned data in the console.
                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>
    
              
               <button class="btn btn-primary" type="submit">submit</button>
               </form>
    
        
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="chatlog">
                
               
               
               

           </div>
           <input id="text" size="80" placeholder="message">
            <button id='sendmsg' class="btn btn-success">send</button>
        </div>              
    </div>   
</div>




{% endblock %}